@import "base/normalize";

html {
  color:#555;
  font-size:18px;
  font-weight:100;
  line-height:1.3;

}

body {
  margin:20px 10% 50px 5%;
}

a {
  color:#0176c3;

  &:active,
  &:focus,
  &:hover {
    text-decoration:none;
  }
}

.logo-section,
.logoPrint{
  display: none;
}

.logo-section{
  .welcome__tagline{
    display: none;
  }
}

.QRcode{
  display: none;
}