    <div class="footer">
      <div class="footer__wrapper">
        <p class="footer__name-of-site">Springer IT Recruitment <span>|</span> <a href="http://joinit.springer.com">joinIT.Springer.com</a></p>
        <p class="footer__copyright-legal">&copy; Springer, Part of Springer Science+Business Media. <a href="#">Legal Information</a>.<p>
        <!--<p class="footer__colophon"><a href="#">Colophon</a></p>-->
      </div>
    </div>
  </div>
  <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/fittext.js"></script>
  <script src="/assets/js/responsiveImages.js"></script>
  <script src="/assets/js/imageFlipper.js"></script>
  <script src="/assets/js/parallax.js"></script>
</body>
</html>