body {
  margin:0; // Overwrite base.scss
}

img {
  vertical-align:bottom;
}

.wrapper {
  padding-top:44px;

  overflow-x:hidden;
  overflow-y:auto;
  
  @include respond-to(tablet-portrait) {
    padding-top:66px;
  }
}

.anchor {
  position:absolute; top:-66px; left:0;
  visibility:hidden;
}

/* Silent classes (Shhh...) */
%section-wrapper {
  margin:0;

  @include respond-to(tablet-portrait) {
    margin:0 auto;
    max-width:980px;
  }
}

%headings {
  font-weight:100;
  letter-spacing:-0.04em;
  line-height:0.95em;
}

// @todo: Refactor %h1 et al. to resize based on html font-size...
h1,
%h1 {
  @extend %headings;
  font-size:2rem;
  margin:0.67em 0;

  @include respond-to(tablet-portrait) {
    font-size: 75.4px;
  }
}

h2,
%h2 {
  @extend %headings;
  font-size:1.6rem;
  letter-spacing:-0.04em;
  margin:0.83em 0;

  @include respond-to(tablet-portrait) {
    font-size:2.4rem;
    font-weight:100;
    letter-spacing:-0.05em;
    line-height:1;
  }
}

h3,
%h3 {
  @extend %headings;
  font-size:1.4rem;

  @include respond-to(tablet-portrait) {
    font-size:2rem;
  }
}

.btn {
  @include btn();
}