/* Markup */
@page {
  margin: 1cm 0cm 1cm 0.5cm;
}
html, body {
  background: white;
  color: #444;
  font-size: 100%;
  line-height: 1em;
}

body {
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
  font-size: 10pt;
  line-height: 1em;
}

a:link,
a:visited {
  color: black;
  font-style: italic;
  text-decoration: none;
}

a strong {
  text-decoration: underline;
}

a[href]:after {
  color: #ccc !important;
  font-size: 8pt;
  content: " (" attr(href) ") ";
  display: inline;
  text-decoration: none;
}

a[href^="#"],
a[href^="javascript"],
a.noLink {
  text-decoration: none;
}
a[href^="#"]:after,
a[href^="javascript"]:after,
a.noLink:after {
  content: "";
}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.logo-section,
.logo-section .welcome__tagline,
.logoPrint {
  display: block;
}

.logoPrint {
  height: 20pt;
}

.wrapper,
.welcome__wrapper {
  padding-top: 0px;
}

.main-header,
.imageFlipper,
.home-section--our-people,
.our-culture,
.our-workplace .home-section__grid,
.looking-for__photo-wrapper,
.footer__name-of-site {
  display: none;
}

li {
  margin-bottom: 5px;
}

.welcome__tagline {
  font-size: 8pt;
  color: #ddd;
  margin-top: 5px;
}

.welcome__wrapper {
  padding-bottom: 10px;
}
.welcome__wrapper h1 {
  font-size: 30pt !important;
  line-height: 1em;
}
.welcome__wrapper h2 {
  font-size: 24pt !important;
}
.welcome__wrapper .logoPrint {
  margin-top: 30px;
}

.storyboards__wrapper {
  padding-bottom: 30px;
}
.storyboards__wrapper .storyboards__board {
  height: auto !important;
}
.storyboards__wrapper .board__headline {
  color: #ccc !important;
}
.storyboards__wrapper img,
.storyboards__wrapper a {
  display: none;
}

.home-section--our-products {
  page-break-after: always;
  position: relative;
}
.home-section--our-products .home-section__heading {
  display: none;
}
.home-section--our-products h2 {
  margin-top: 0px;
}
.home-section--our-products .our-products__product {
  margin-bottom: 40px;
}
.home-section--our-products .product__product-image {
  float: left;
  width: 35%;
  margin-right: 30px;
}
.home-section--our-products .product__product-image img {
  width: 100%;
}
.home-section--our-products .product__product-description {
  overflow: hidden;
  line-height: 1.2em;
}
.home-section--our-products .product-description__tags {
  line-height: 16pt;
}
.home-section--our-products .product-description__tags span {
  border-bottom: 2px solid #e8f4fc;
}

.our-workplace {
  font-size: 10pt;
}
.our-workplace .map {
  width: 400px;
  margin: auto;
  overflow: hidden;
}
.our-workplace .map img {
  margin-left: -150px;
  width: 700px;
  display: block;
}

.looking-for__contact-info {
  margin: 0px 20% 7px;
  padding: 20px 0px 7px 0px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 14pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.looking-for__contact-info a {
  color: #0176c3;
}
.looking-for__contact-info a:after {
  content: "";
}

.home-section--job-vacancies .home-section__heading {
  display: none;
}
.home-section--job-vacancies .job-vacancies__vacancy a strong {
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  min-width: 11em;
}
.home-section--job-vacancies .job-vacancies__vacancy a:after {
  content: " (http://joinit.springer.com" attr(href) ") ";
}

.footer__wrapper {
  font-size: 8pt;
  text-align: center;
  color: #ddd;
}
.footer__wrapper p {
  margin: 0px;
}
.footer__wrapper .footer__copyright-legal a {
  display: none;
}

.roles {
  /* QR Code */
}
.roles .job-wrapper {
  line-height: 1.2em;
}
.roles .job-wrapper .role__subheading a:after,
.roles .job-wrapper .apply-now,
.roles .job-wrapper .linkedin {
  display: none;
}
.roles .job-wrapper .job-description {
  page-break-after: always;
}
.roles .job-wrapper .sidebar {
  page-break-inside: avoid;
  overflow: hidden;
}
.roles .job-wrapper .sidebar div {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 15px;
}
.roles .job-wrapper .sidebar a:after {
  display: none;
}
.roles .footer__wrapper {
  margin-top: 20px;
}
.roles .home-section__heading {
  position: relative;
}
.roles .QRcode {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}
.roles .QRcode img {
  display: inline-block;
  width: 75px;
  height: 75px;
}
.roles .QRcode span {
  display: block;
  font-size: 8px;
  letter-spacing: 1px;
  color: #ddd;
}
