.home-section__heading {
  background:#fbfdfe;
  height:1.6em;
  margin-left:-27px;
  margin-right:-27px;

  span {
    @extend %section-wrapper;
    padding:0 .7em;

    @include respond-to(tablet-portrait) {
      display:block;
      padding:0 .3em;
    }

    .roles & {
      padding:0;
    }

  }
}

.home-section__wrapper {
  margin:0 auto;
  overflow:hidden;

  @include respond-to(break-point, 'min-width:1016px') {
    max-width:980px;
  }
}

.home-section__grid {
  position:relative;
}

.home-section__grid-wrapper {
  margin:0 0 0 -720px;
  padding:0;
  position:absolute; top:0; left:50%;
  width:1440px;
}

.home-section__grid-item {
  @include box-sizing('border-box');
  float:left;
  list-style:none;

  img {
    width:100%;
  }
}