.home-section--job-vacancies {
  margin:0 27px;
  position:relative;

  .home-section__wrapper {
    margin:0 auto;
    overflow:visible;

    @include respond-to(tablet-portrait) {
      max-width:490px;
    }

    @include respond-to(break-point, 'min-width:1016px') {
      max-width:980px;
    }

    &:after {
      @include pseudo-element('');
      clear:both;
      display:table;
    }
  }

  .home-section__heading {
    margin-top:0;

    @include respond-to(tablet-portrait) {
      text-align:center;
    }

    @include respond-to(break-point, 'min-width:1016px') {
      text-align:left;
    }
  }

  .home-section__subheading {
    @include respond-to(tablet-portrait) {
      text-align:center;
    }

    @include respond-to(break-point, 'min-width:1016px') {
      text-align:left;
      margin-left:auto;
      margin-right:auto;
      max-width:980px;
    }
  }
}

.job-vacancies__list {
  border-top:1px solid #d4d4d4;
  margin:0;
  padding:0;

  @include respond-to(break-point, 'min-width:1016px') {
    float:left;
    width:490px;
  }
}

.job-vacancies__vacancy {
  border-bottom:1px solid #d4d4d4;
  list-style:none;

  &:hover {
    background:#e8f4fc;
  }
}

.vacancy__role {
  display:block;
  font-size:1.2rem;
  padding:12px 2px;

  strong {
    font-weight:100;
  }
}

.vacancy__location {
  color:#555;
  float:right;
  font-size:0.8rem;
  text-decoration:none;
  line-height:1.6rem;
}

.job-vacancies__content {
  max-width:480px;

  @include respond-to(break-point, 'min-width:1016px') {
    @include box-sizing(border-box);
    float:right;
    margin-top:-0.4em;
    padding-left:3em;
  }

  ul {
    padding-left:1em;
  }
}

.home .job-vacancies__lead-in {
  @include respond-to(break-point, 'min-width:1016px') {
    margin-top:0;
  }
}