.looking-for {
  clear:both;
  margin:0 auto;
  max-width:490px;
  padding:0 18px;
  position:relative;

  @include respond-to(tablet-portrait) {
    padding:0;
  }

  @include respond-to(break-point, 'min-width:1016px') {
    max-width:980px;
  }


  .home-section__wrapper {
    margin:25px 0 50px 0;
  }

}

.looking-for__headline {
  @include respond-to(tablet-portrait) {
    max-width:400px;
  }
}

.looking-for__lead-in {
  @include respond-to(tablet-landscape) {
    max-width:490px;
  }
}

.looking-for__wrapper {
  position:relative;
}

.looking-for__role-list {
  overflow:auto;
  padding:0;

  @include respond-to(break-point, 'min-width:1016px') {
    margin-bottom:2.5em;
  }

  li {
    float:left;
    margin-left:20px;
    width:90%;

    @include respond-to(break-point, 'min-width:480px') {
      width:45%;
    }

    @include respond-to(break-point, 'min-width:1016px') {
      width:20%;
    }
  }
}

.looking-for__contact-info {
  font-size:1.2rem;
  margin:2em 0;

  @include respond-to(break-point, 'min-width:1016px') {
    float:right;
    margin:2.5em 0;
    max-width:460px;
  }
}

.looking-for__photo {
  @include respond-to(break-point, 'min-width:1016px') {
    float:left;
    max-width:490px;
  }

  img {
    border:5px solid #e8f4fc;
    border-radius:150px;
    margin-left:-30px;
    width:33.3%;

    &:first-child {
      margin-left:0;
    }
  }

  p {
    text-align:center;
  }
}