.looking-for {
  clear:both;
  margin:0 auto;
  max-width:490px;
  padding:0 18px;
  position:relative;

  @include respond-to(tablet-portrait) {
    padding:0;
  }

  @include respond-to(break-point, 'min-width:1016px') {
    max-width:980px;
  }


  .home-section__wrapper {
    margin:25px 0 50px 0;
  }

}

.looking-for__headline {
  @include respond-to(tablet-portrait) {
    margin-left:auto;
    margin-right:auto;
    max-width:400px;
    text-align:center;
  }

  @include respond-to(break-point, 'min-width:1016px') {
    margin-left:0;
    margin-right:0;
    text-align:left;
  }
}

.looking-for__lead-in {
  @include respond-to(tablet-landscape) {
    max-width:490px;
  }
}

.looking-for__wrapper {
  position:relative;
}

.looking-for__role-list {
  overflow:auto;
  padding:0;

  @include respond-to(break-point, 'min-width:1016px') {
    float:left;
    margin-bottom:2.5em;
    max-width:490px;
  }

  li {
    float:left;
    margin-left:20px;
    width:90%;

    @include respond-to(break-point, 'min-width:480px') {
      width:45%;
    }

    //@include respond-to(break-point, 'min-width:1016px') {
    //  width:20%;
    //}
  }
}

.looking-for__contact-info {
  font-size:1.2rem;
  margin-top:2em;

  @include respond-to(break-point, 'min-width:1016px') {
    float:right;
    margin:2.5em 0;
    max-width:460px;
  }
}

.looking-for__photo-wrapper {
  @include respond-to(break-point, 'min-width:1016px') {
    clear:both;
    margin:0 auto;
    max-width:620px;
  }
}

.looking-for__photo {
  float:left;
  margin:40px 2% 20px 0;
  width:32%;

  @include respond-to(break-point, 'min-width:1016px') {
    width:196px;
  }

  &:last-of-type {
    margin-right:0;
  }

  img {
    width:100%;
  }

  p {
    text-align:center;
  }
}

.looking-for__tagline {
  border-bottom:1px solid #555;
  clear:both;
  margin:0 0 60px;
  position:relative;
  text-align:center;

  span {
    background:#fff;
    margin-left:-82px;
    padding:0 5px;
    position:absolute; top:-13px; left:50%;
  }
}