.footer {
  background:#333;
  clear:both;
  color:#888;
  font-size:0.75em;
  margin-top:2em;
  overflow:auto;
  padding:22px 27px;

  a {
    color:#888;
    white-space:nowrap;

    &:active,
    &:focus,
    &:hover {
      color:#bbb;
    }
  }

  p {
    float:left;
    margin:0;
  }
}

.footer__wrapper {
  margin:0 auto;
  max-width:980px;
}

.footer__copyright-legal {
  clear:left;
}