.home-section--our-people {
  //display:none;
  position:relative;

  .home-section__heading {
    margin-left:0;
    margin-right:0;

    @include respond-to(break-point, 'min-width:1016px') {
      margin-left:-18px;
      margin-right:-18px;
    }
  }

  .home-section__wrapper {
    padding:0 1.5em;

    @include respond-to(break-point, 'min-width:1016px') {
      padding:0;
    }
  }

  .home-section__grid {
    height:874px;

    .mobile & {
      height:622px;
    }
    // @include respond-to(break-point, 'min-width:1024px') {
    //   height: 888px;
    // }    
  }


  .team-panorama {
    @extend .centeredNoScroll;

    .mobile & {
      width: 1024px;
      margin-left: -512px;      
    }
    top:auto;
    bottom:0;
  }
}