.our-culture,
.our-workplace {
  margin:0 18px;

  @include respond-to(break-point, 'min-width:1016px') {
    margin:0 auto;
    max-width:980px;
  }

  .home-section__heading {
    margin-left:0;
    margin-right:0;

    @include respond-to(break-point, 'min-width:1016px') {
      margin-left:-18px;
      margin-right:-18px;
    }
  }

  .home-section__grid {
    height:666px;
  }

  .home-section__grid-item {
    width:480px;
    height:222px;
  }
}

.our-workplace .home-section__grid {
  height:1112px;
  top:446px;
}

.map {
  position:relative;

  img {
    @extend .home-section__grid-wrapper;
  }
}