.our-culture,
.our-workplace {
  margin:0 27px;

  img {
    @extend .centeredNoScroll;
    border:10px solid #e8f4fc;
  } 

  @include respond-to(break-point, 'min-width:1016px') {
    margin:0 auto;
    max-width:980px;
  }

  .home-section__heading {
    margin-left:0;
    margin-right:0;

    @include respond-to(break-point, 'min-width:1016px') {
      margin-left:-18px;
      margin-right:-18px;
    }
  }
}

.our-culture{
  //margin-top:2em;

  > .home-section__grid {
    height:494px; // 476px;

    @include respond-to(break-point, 'min-width:1024px') {
      height:686px;
    }
  }

  .our-culture__heading{
    &:after {
      content: " ";
      background: #666;
      width: 80px;
      height: 1px;
      display: block;
      margin-top: 24px;
    }
  }
}

.our-workplace {
  margin-top:2em;

  .home-section__grid {
    height:750px;
    top:266px;
    position:relative;

    @include respond-to(break-point, 'min-width:1024px') {
      top:374px;
      height:1050px;
    }

    img {
      border-top:0 none;
    }
  }

  .our-workplace__heading{
    &:after {
      content: " ";
      background: #666;
      width: 80px;
      height: 1px;
      display: block;
      margin-top: 24px;
    }
  }
}

.map {
  position:relative;

  img {
    border-bottom:0 none;
  }
}