.home-section--our-people {
  position:relative;

  .home-section__heading {
    border-top:10px solid #e8f4fc;
    margin-left:0;
    margin-right:0;

    @include respond-to(break-point, 'min-width:1016px') {
      margin-left:-18px;
      margin-right:-18px;
    }
  }

  .home-section__wrapper {
    padding:0 1.5em;

    @include respond-to(break-point, 'min-width:1016px') {
      padding:0;
    }
  }

  .home-section__grid {
    height:690px;

    @include respond-to(break-point, 'min-width:1016px') {
      height:680px; // 874
    }

    .mobile & {
      height:642px; // 622

      @include respond-to(break-point, 'max-width:480px') {
        height:480px; // 874
      }
    }
  }


  .team-panorama {
    @extend .centeredNoScroll;
    border:10px solid #e8f4fc;
    border-bottom:0 none;
    top:0;

    .mobile & {
      margin-left: -522px;
      width: 1024px;
    }
  }
  .our-people__heading{
    padding-left:24px;
    @include respond-to(laptop){
      max-width:980px;
      margin:0 auto;
      padding-left:0;
    }

    &:after {
      content: " ";
      background: #666;
      width: 80px;
      height: 1px;
      display: block;
      margin-top: 24px;
    }

  }

  p {
    margin-top:0;
    @include respond-to(laptop) {
      margin-top:18px;
    }
  }
}