.roles {
	.main-header__nav-list li {
		width: 100%;
	}
}

.job-wrapper{
  margin: 0 1.5em;

	@include respond-to(laptop) {
		margin: 0 auto;
	}
	position: relative;

	@include respond-to(tablet-landscape) {
		max-width: 980px;
	}

	.welcome__subheading {
		display: block;
		font-size:1rem;
		margin: 24px 0 -19px 0;

		&:last-child {
			margin-bottom:0;
		}
	}

	.sidebar {
		clear: both;
		margin: 2em 0;
		padding: 0;

		@include respond-to(tablet-landscape) {
			border-left:5px solid #e8f4fc;
      max-width: 12em;
			padding: 0 0.7em 0 1.5em;
			position: absolute;right: 0;top: 5.8em;
		}
    @include respond-to(break-point, 'min-width:900px') {
      max-width: 14em;
    }
		@include respond-to(laptop) {
      padding: 0 1.3em 0 3em;
		}

		.linkedin  {
			margin: 3.3em 0;
			font-size: 0.8rem;
			a {
				@include img-replacement();
				background: url(../imgs/linkedin.png) 0 0 no-repeat;
				cursor: pointer;
				height: 40px;
			}
		}
		h3 {
			font-size:0.9rem;
			font-weight: 400;
      margin: 25px 0 0 0;
		}
		p {
			font-size:0.8rem;
		}
	}
}


.job-vacancy {
  margin:0;
	@include respond-to(tablet-landscape) {
		max-width: 60%;
	}
	h2 {

    margin: .8em 0 .2em 0;
		span {
			font-size:1.8rem;
      letter-spacing:0.03em;
		}
	}
  ul {
    padding-left: 8px;
    @include respond-to(tablet-landscape) {
      padding-left: 4px;
    }
  }
	li {
		margin:0 0 10px 0;
    span{
      display:block;
      margin-left:-8px;
      @include respond-to(tablet-landscape) {
        margin-left:-4px;
      }
    }
	}

}


.role-section {
  h1 {
    margin:0 0 0.4em 0;
    padding: 0 0.7em;
    @include respond-to(tablet-portrait) {
      padding: 0 0.3em;
    }
  }
}