$pageWidth:1440px;

.storyboards,
.welcome {
  background:#fbfdfe;
}

.welcome__wrapper {
  position:relative;
  background:none;
  padding:1.5em 1.5em 40px;

  @include respond-to(tablet-portrait) {
    margin:0 auto;
    max-width:980px;
  }

  @include respond-to(break-point, 'min-width:1016px') {
    padding-left:0;
    padding-right:0;
  }
}

.welcome__tagline {
  font-size: 1.1em;
  font-weight:100;
  margin-top:0;

  @include respond-to(tablet-portrait) {
    font-size: 1.2em;
  }

  @include respond-to(tablet-portrait) {
    width:100%;
  }

  &:after {
    content: " ";
    background: #666;
    width: 80px;
    height: 1px;
    display: block;
    margin-top: 24px;
  }

}

.welcome__heading {
  margin:0 0 24px;
  max-width:100%;
  line-height:1.05em;

  @include respond-to(tablet-portrait) {
    margin-bottom:0;
  }
}

.welcome__subheading {
  @extend %h1;
  margin-bottom:0;
}

.storyboards__wrapper {
  background-color:#999;
  border:10px solid #e8f4fc;
  margin:0 auto;
  max-width:1440px;
}

.storyboards__board {

  .no-js &{
    padding-bottom: 50%;
  }
  margin:0 -10px;
  opacity:0.9;
  overflow:hidden;
  position:relative;

  -webkit-perspective:1300px;
  -moz-perspective:1300px;
  perspective:1300px;

  -webkit-transition:-webkit-filter 1s, opacity 1s;
  -moz-transition:-moz-filter 1s, opacity 1s;
  transition:filter 1s, opacity 1s;

  @include respond-to(laptop) {
    -webkit-filter:blur(2px);
    -moz-filter:blur(2px);
    filter:blur(2px);
  }

  // Using 1500px to avoid border showing on MBP 15" screen
  @include respond-to(break-point, 'min-width:1500px') {
    margin:auto;
  }


  &.active,
  .no-js &,
  .noParallax & {
    opacity:1;
    z-index:2;

    -webkit-filter:none;
    -moz-filter:none;
    filter:none;
  }
}

.board__content {
  @extend %section-wrapper;
  height:100%;
  position:relative;
}

.board__headline {
  @include box-sizing(border-box);
  @include transition(all 0.5s ease-out 0.2s);
  font-size:8em;
  line-height:0.9;
  color:#fff;
  margin:0;
  text-shadow:0px 1px 5px rgba(0,0,0,0.85);
  opacity:0;
  position:absolute; left:27px; bottom:-10%;

  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  transform-style:preserve-3d;

  -webkit-backface-visibility:hidden;

  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);


  @include respond-to(tablet-portrait) {
    font-size:4.5em;
  }

  @include respond-to(break-point, 'min-width:1016px') {
    left:0;
  }

  .noParallax & {
    bottom:0.75em;
    opacity:1;
  }

  .active & {
    bottom:1.6em;
    opacity:1;
  }

  span {
    display:block;
  }

}

.board__image {
  display:block;
  position:absolute;
  width:100%;
}