$solarized_base03:    #002b36;
$solarized_base02:    #073642;
$solarized_base01:    #586e75;
$solarized_base00:    #657b83;
$solarized_base0:     #839496;
$solarized_base1:     #93a1a1;
$solarized_base2:     #eee8d5;
$solarized_base3:     #fdf6e3;
$solarized_yellow:    #b58900;
$solarized_orange:    #cb4b16;
$solarized_red:       #dc322f;
$solarized_magenta:   #d33682;
$solarized_violet:    #6c71c4;
$solarized_blue:      #268bd2;
$solarized_cyan:      #2aa198;
$solarized_green:     #859900;
$blackboard_white:	  #FFF;

.highlight {
  background:$solarized_base03;
  font-family: Monaco, monospace;
  .c { color: $solarized_base01 } /* Comment */
  .err { color: #93A1A1 } /* Error */
  .g { color: #93A1A1 } /* Generic */
  .k { color: $solarized_yellow } /* Keyword */
  .l { color: #93A1A1 } /* Literal */
  .n { color: $blackboard_white } /* Name */
  .o { color: #859900 } /* Operator */
  .x { color: #CB4B16 } /* Other */
  .p { color: #93A1A1 } /* Punctuation */
  .cm { color: $solarized_base01 } /* Comment.Multiline */
  .cp { color: #859900 } /* Comment.Preproc */
  .c1 { color: $solarized_base01 } /* Comment.Single */
  .cs { color: #859900 } /* Comment.Special */
  .gd { color: #2AA198 } /* Generic.Deleted */
  .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
  .gr { color: #DC322F } /* Generic.Error */
  .gh { color: #CB4B16 } /* Generic.Heading */
  .gi { color: #859900 } /* Generic.Inserted */
  .go { color: #93A1A1 } /* Generic.Output */
  .gp { color: #93A1A1 } /* Generic.Prompt */
  .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
  .gu { color: #CB4B16 } /* Generic.Subheading */
  .gt { color: #93A1A1 } /* Generic.Traceback */
  .kc { color: $solarized_yellow } /* Keyword.Constant */
  .kd { color: $solarized_yellow } /* Keyword.Declaration */
  .kn { color: $solarized_yellow } /* Keyword.Namespace */
  .kp { color: $solarized_yellow } /* Keyword.Pseudo */
  .kr { color: $solarized_yellow } /* Keyword.Reserved */
  .kt { color: $solarized_yellow } /* Keyword.Type */
  .ld { color: #93A1A1 } /* Literal.Date */
  .m { color: #2AA198 } /* Literal.Number */
  .s { color: #2AA198 } /* Literal.String */
  .na { color: $blackboard_white } /* Name.Attribute */
  .nb { color: $blackboard_white} /* Name.Builtin */
  .nc { color: $solarized_red } /* Name.Class */
  .no { color: $blackboard_white } /* Name.Constant */
  .nd { color: $blackboard_white } /* Name.Decorator */
  .ni { color: $blackboard_white } /* Name.Entity */
  .ne { color: $blackboard_white } /* Name.Exception */
  .nf { color: $solarized_red } /* Name.Function */
  .nl { color: $blackboard_white } /* Name.Label */
  .nn { color: $blackboard_white } /* Name.Namespace */
  .nx { color: $blackboard_white} /* Name.Other */
  .py { color: $blackboard_white } /* Name.Property */
  .nt { color: $blackboard_white } /* Name.Tag */
  .nv { color: $blackboard_white } /* Name.Variable */
  .ow { color: #859900 } /* Operator.Word */
  .w { color: #93A1A1 } /* Text.Whitespace */
  .mf { color: #2AA198 } /* Literal.Number.Float */
  .mh { color: #2AA198 } /* Literal.Number.Hex */
  .mi { color: #2AA198 } /* Literal.Number.Integer */
  .mo { color: #2AA198 } /* Literal.Number.Oct */
  .sb { color: $solarized_base01 } /* Literal.String.Backtick */
  .sc { color: #2AA198 } /* Literal.String.Char */
  .sd { color: #93A1A1 } /* Literal.String.Doc */
  .s2 { color: #2AA198 } /* Literal.String.Double */
  .se { color: #CB4B16 } /* Literal.String.Escape */
  .sh { color: #93A1A1 } /* Literal.String.Heredoc */
  .si { color: #2AA198 } /* Literal.String.Interpol */
  .sx { color: #2AA198 } /* Literal.String.Other */
  .sr { color: #DC322F } /* Literal.String.Regex */
  .s1 { color: #2AA198 } /* Literal.String.Single */
  .ss { color: #2AA198 } /* Literal.String.Symbol */
  .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
  .vc { color: #268BD2 } /* Name.Variable.Class */
  .vg { color: #268BD2 } /* Name.Variable.Global */
  .vi { color: #268BD2 } /* Name.Variable.Instance */
  .il { color: #2AA198 } /* Literal.Number.Integer.Long */
}