// Your custom SCSS should be written here...

div#nav1 {
	margin-bottom:0;
}

div#sitebanner {
	background: $primary-color;
	text-align:center;
	
	h1 {
	color:#FFF;
	}
}

div#sidebar {
	.box {
		width:96%;
		margin-bottom: 1em;
		padding:0.5em 1% 0.5em 3%;
	}
	
	.warning {
		background:$warning-color;
		a {color:$info-color;font-weight:bold;}
	}
	
	.primary {
		background:$primary-color;
		a {color:#FFF;}
	}

	.default {
		background:$default-color;
		a {color:$info-color;}
	}
}

#footer {
 	margin-top: 3em;
}



