{% include header_roles.html bodyclass="roles" %}

<header>
	<section class="logo-section">
		<img src="../../assets/imgs/logo-print.png" class="logoPrint" alt="Springer" />
		<p class="welcome__tagline">Springer is a world-class international scientific publisher.</p>
	</section>
    <section class="role-section">
        <h1 class="home-section__heading"><span>{{page.role}}</span></h1>
    </section>
</header>

<div class="job-wrapper">
    <address class="role__subheading"><em>{{page.location}}</em></address>
    <time class="role__subheading"><em>{{page.length}}</em></time>
	<article class="job-vacancy">
        {% if page.job_status == "closed" %}    
        <section style='color: red' class="job-global">
            <h2>
                This role is closed. 
            </h2>
            <p>
                Thank you for your continuous interest, but this position is filled. Check out <a href="/#join-our-team">other open positions!</a>
            </p>
        </section>
        {% endif %}


		<section class="job-global">
			<h2>
				Hello. We’re SpringerIT.
			</h2>
			<p>
				Springer is a world-class international publisher. With over eight million content items available online to academic and professional institutions globally, our digital-first strategy embraces the modern economy.
			</p>
			<p>
				We are a multi-disciplinary team working in a fast-paced and collaborative environment, who value honest opinion and open debate. We’re responsible for designing, building, testing and releasing our new content distribution site, <a href="http://link.springer.com">SpringerLink</a>, as well as integrating all Springer’s key online offerings into one platform, such as <a href="http://www.biomedcentral.com">BioMed Central</a>. We’re in the business of building enterprise-class web applications, and delivering a first-rate user experience is essential.
			</p>
			<p>	
				If you haven’t yet, <a href="http://joinit.springer.com">meet our team</a>.
			</p>	
		</section>


    {{ content }}


		<section class="job-global">
			<h2>Working here</h2>
			<p>
				We build our software incrementally, iteratively, and continuously, so you’ll be able to see new work go live to over four million visitors around the globe every week. XP and Kanban heavily influence our flavour of agile and if something isn’t working, we change it.
			</p>
			<p>
        Our teams are cross-discipline so that our work delivers value to both the business and our customers: business analysts and UX designers work with stakeholders to coordinate research and understand requirements, frontend developers and software engineers pair with quality analysts to develop the most robust solutions, and our platform engineers work across the organisation to ensure our infrastructure never lets us down.
			</p>	
			<p>This role is based in our offices in {{page.office}}.</p>
		</section>	
	</article>		
	<section class="sidebar">
		{% if page.job_status != "closed" %}    
		<div class="apply-now">
			<a class="btn" href={{page.jobvite}}>Apply for this role</a>
		</div>
		{% endif %}
		<div class="linkedin">
			Find us on
			<a href="http://www.linkedin.com/company/7051?trk=tyah&trkInfo=tas%3Aspringer" target="_blank">Linkedin</a>
		</div>
		{% if page.job_status != "closed" %}
			{% if page.benefits_uk == nil or page.benefits_uk == true %}
				{% include benefits.uk.html %}
			{% endif %}
			{% if page.benefits_de == true %}
				{% include benefits.de.html %}
			{% endif %}
		{% endif %}
		<div>
			<h3>Information</h3>
			<p>
				Springer is an Equal Opportunities Employer. We welcome all applications irrespective of race, gender, age, religion or belief, relationship status, pregnancy/maternity, sexual orientation or disability.
			</p>	
			<p>
				For further information, contact our HR dept. at <a title="joinIT@springer.com" href="mailto:joinIT@springer.com?subject=Springer IT recruitment enquiry">joinIT@springer.com</a>.
			</p>	
		</div>	
	</section>
</div>
{% include footer.html %}
